.counter__title {
    font-size: 30px;
}

.counter__buttons {
    display: flex;
    justify-content: space-around;
}

.counter__buttons__decrease {
    width: 30px;
    height: 30px;
}

.counter__buttons__increase {
    width: 30px;
    height: 30px;
} 


